@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import '~antd/dist/antd.css';

body {
  font-size: 14px;
}

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 20px;
}

.info {
  position: absolute;
  right: 20px;
  top: 20px;
}

.indent {
  text-indent: 20px;
}

.button {
  margin-top: 15px;
}

.text, .message-input {
  width: 60%;
  margin: 30px auto 0;
  text-align: left;
}

.decrypted {
  text-align: center;
  font-size: 2em;
  border-radius: 20px;
  padding: 10px;
}

.decrypted > p {
  margin-bottom: 0;
}

.success {
  background-color: rgb(42, 216, 144);
}

.fail {
  background-color: rgb(211, 51, 23);
}

.modal-input {
  margin-bottom: 15px;
}

/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
